
#newUser input[type=text],#newUser input[type=number],#newUser input[type=password],#newUser select{
	display: inline-block;
	vertical-align: middle;
	margin:10px auto;
	width: 50%;
	background-color: transparent;
	border:1px solid #fff;
	border-radius: 2px;
	font-size: 17px;
	padding: 12px 10px;
	margin-right: 20px;
}
#newUser .ch{
	display: inline-block;
	vertical-align: middle;
	margin:5px auto;
	width: 190px;
	background-color: transparent;
	border-radius: 2px;
	font-size: 20px;
	padding: 5px 10px;
	margin-right: 20px;
	text-align: left;
}
#newUser .error{
	border-color: red !important;
}

#newUser .inputError{
	color: red;
	display: none;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

#newUser button{
	display: block;
	margin:25px auto;
	width: 50%;
	background-color: #7D2082;
	border:1px solid #7D2082;
	font-size: 19px;
	padding: 12px 6px;
	cursor: pointer;
	opacity: 0.6;
	border-radius: 2px;
}
#newUser input:hover{
	border-color: #7D2082;
}
#newUser button:hover{
	opacity: 1;
}

input[name="dateNaissance"]{
	background-color: transparent;
	border:1px #fff solid;
	border-radius: 5px;
	padding: 5px;

}
