body{
	background-color: #fff;
	font-family: sans-serif;
}
body.popActive{
	overflow: hidden;
}
input,textarea,button,select{
	outline: none;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
a{
	text-decoration: none;
	color: inherit;
}
.pageWrapper{

	width: 70%;
	margin:auto;
	text-align: center;
}

.logo{
	display: block;
	text-align: center;
	width: 300px;
	margin:auto;
	margin-top: 20px;
}
.logo img{
	width: 200px;
}

.popupContainer{
	position: fixed;
	top: -200px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: -999999;
	opacity: 0;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.popupContainer.popActive{
	opacity: 1;
	z-index: 999999;
	top: 0px;
	
}
.popupContainer .close-button{
	position: absolute;
	top: 20px;
	right: 20px;
}

.popupContainer .popContent{
	position: absolute;
	top: 50%;
	left:50%;
	background-color: #333;
	border-radius: 6px;
	width: 500px;
	height: 500px;
	overflow: auto;
	padding: 20px;
	text-align: center;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}