body{
	color: #000;
	text-align: center;
}
.home-page{
	margin-top: 100px;
}

.one-stat{
	display: inline-block;
	vertical-align: middle;
	margin: 10px 50px;

}

.one-stat .title{
	display: block;
	vertical-align: middle;
	margin: 5px 0px;
	font-size: 40px;
}
.one-stat .stat-number{

	font-size: 30px;
}


.pac-container{
	z-index: 100000;
}
