<template name="addPromocodeModal">
	
	<div class="modal fade" id="addPromocode" tabindex="-1" role="dialog" aria-labelledby="addPromocode" aria-hidden="true">

		<div class="modal-dialog">
			
			<form class="modal-content add-promocode">
				
				<div class="modal-header">
				
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				
					<h4 class="modal-title custom_align" id="Heading">Ajouter un code promo</h4>

				</div>
				
					
				<div class="modal-body text-left">
					
					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Valeur</label>

							<input class="form-control" name="promocodeValue" type="text" placeholder="Valeur code promo">
						
						</div>

					</div>

						
					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Type</label>

							<select class="form-control" name="promocodeType">
								
								<option value="percent">Pourcentage</option>
								
								<option value="amount">Avoir</option>
							
							</select>
						
						</div>

					</div>
					
					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">			
								
							<label class="control-label">Code promo</label>
							
							<input type="text" class="form-control" name="promocodeCode" placeholder="Code du code promo">

							<button class="btn btn-info generateCode">Générer</button>


						</div>


						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Description code promo</label>

							<input class="form-control"  name="promocodeDescription" type="text" placeholder="Description Code promo">
						
						</div>

					</div>

						
				
				</div>
				
				<div class="modal-footer ">
					
					<button type="submit" class="btn btn-success btn-lg addPromocode" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Ajouter nouveau promocode</button>
				
				</div>
			
			</form>
			<!-- /.modal-content -->
		</div>
			<!-- /.modal-dialog -->
	</div>
</template>
