<template name="editPromocodeModal">
	
	<div class="modal fade" id="editPromocode" tabindex="-1" role="dialog" aria-labelledby="editPromocode" aria-hidden="true">

		<div class="modal-dialog">
			
			<form class="modal-content edit-promocode">
				
				<div class="modal-header">
				
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				
					<h4 class="modal-title custom_align" id="Heading">Modifier un code promo</h4>

				</div>
				
					
				<div class="modal-body text-left">
					
					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Valeur</label>

							<input class="form-control" name="promocodeValue" value="{{ promocode.Pro_value }}" type="text" placeholder="Valeur code promo">
						
						</div>

					</div>

						
					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Type</label>

							<select class="form-control" name="promocodeType">
								
								<option {{typeChoicePercent}} value="percent">Pourcentage</option>
								
								<option {{typeChoiceAmount}} value="amount">Avoir</option>
							
							</select>
						
						</div>

					</div>
					
					<div class="row">

						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Description code promo</label>

							<input class="form-control" value="{{promocode.Pro_description}}"  name="promocodeDescription" type="text" placeholder="Description Code promo">
						
						</div>

					</div>

						
				
				</div>
				
				<div class="modal-footer ">
					
					<button type="submit" class="btn btn-warning btn-lg editPromocode" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Modifier code promo</button>
				
				</div>
			
			</form>
			<!-- /.modal-content -->
		</div>
			<!-- /.modal-dialog -->
	</div>
</template>
