<template name="addClientModal">
	
	<div class="modal fade" id="addClient" tabindex="-1" role="dialog" aria-labelledby="addClient" aria-hidden="true">

		<div class="modal-dialog">
			
			<form class="modal-content add-client">
				
				<div class="modal-header">
				
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				
					<h4 class="modal-title custom_align" id="Heading">Ajouter un client</h4>

				</div>
				
				<div class="modal-body text-left">
					
					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Nom</label>

						<input class="form-control" name="nom" type="text" placeholder="Nom">
					
					</div>
					
					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Prenom</label>

						<input class="form-control" name="prenom" type="text" placeholder="Prenom">
					
					</div>

					<div class="form-group">

						<label class=" control-label">Date de naissance</label>

						<input class="form-control" id="editDateNaissance" name="dateNaissance" type="date" placeholder="Date de Naissance">
					
					</div>

					<div class="form-group text-left">
						
						<label class="control-label text-left">Sexe</label>

						<div class="radio col-md-6">
						
						  <label>
						
						    <input type="radio" name="sexe" value="m">
							
							Homme

						  </label>
						
						</div>
						
						<div class="radio col-md-6">
						
						  <label>

						    <input type="radio" name="sexe" value="f">
						
							Femme					
						  </label>
						
						</div>
					
					</div>

					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Telephone</label>

						<input class="form-control"  name="telephone" type="text" placeholder="Telephone">
					
					</div>

					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Email</label>

						<input class="form-control" name="email" type="email" placeholder="Email">
					
					</div>

					<div class="form-group">

						<label class=" control-label">Adresse</label>

						<input class="form-control addAdresseInput" data-geo="name" name="adresse" type="text" placeholder="Adresse">
					
					</div>

					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Ville</label>

						<input class="form-control" data-geo="locality" name="ville" type="text" placeholder="Ville">
					
					</div>

					<div class="form-group col-md-6 col-sm-6">

						<label class=" control-label">Code Postal</label>

						<input class="form-control" data-geo="postal_code" name="codePostal" type="text" placeholder="Code Postal">
					
					</div>

					<div class="checkbox col-md-6">
					
					  <label>
					   
					    <input type="checkbox" name="newsletter">
					
					    Newsletter
					
					  </label>
					
					</div>

					<div class="checkbox col-md-6">
					 
					  <label>

					    <input type="checkbox" name="sms" >

					    Sms

					  </label>

					</div>
				
				</div>
				
				<div class="modal-footer ">
					
					<button type="submit" class="btn btn-success btn-lg addClient" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Ajouter nouveau client</button>
				
				</div>
			
			</form>
			<!-- /.modal-content -->
		</div>
			<!-- /.modal-dialog -->
	</div>
</template>
