<template name="addAchatModal">
	
	<div class="modal fade" id="addAchat" tabindex="-1" role="dialog" aria-labelledby="addAchat" aria-hidden="true">

		<div class="modal-dialog">
			
			<form class="modal-content add-achat">
				
				<div class="modal-header">
				
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				
					<h4 class="modal-title custom_align" id="Heading">Nouvel achat</h4>

				</div>
				<div class="modal-body text-left">
						

					<div class="row">
						
						<div class="form-group col-md-6 col-sm-6">

							<label class=" control-label">Prix de l'achat</label>

							<input class="form-control" name="prix" type="text" placeholder="Prix d'achat">
						
						</div>

						{{#if hasPromocode}}
							
							<div class="form-group col-md-6 col-sm-6">
								
								<label class="control-label">Code promo</label>
								
								<select class="form-control">
									
									<option> Choisissez un code promo</option>
									
									{{#each hasPromocode}}
									
										<option value="{{_id}}">{{Pro_code}} - ({{Pro_value}})</option>
									
									{{/each}}
								
								</select>
							</div>

						{{/if}}
							
					</div>
					

					{{#if hasPromocode}}
					
					<div class="row">

						<div class="form-group col-md-6 col-sm-6"> 

							<label class="control-label">Prix final</label>
							
							<div class="col-md-10 col-sm-10">
								
								<input class="form-control" type="text" name="finalePrice">
								
							</div>

							<div class="col-md-2 col-sm-6 text-left">
							
							<span class="label label-danger">Réduction -30€</span>

						</div>
						
						</div>

						
					</div>

					{{/if}}
						
					
				
				</div>
				
				<div class="modal-footer ">
					
					<button type="submit" class="btn btn-success btn-lg ajoutAchat" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Ajouter achat</button>
				
				</div>
					
			
			</form>
			<!-- /.modal-content -->
		</div>
			<!-- /.modal-dialog -->
	</div>
	{{hey}}
</template>
