<template name="editAchatModal">
	
	<div class="modal fade" id="editAchat" tabindex="-1" role="dialog" aria-labelledby="editAchat" aria-hidden="true">

	<div class="modal-dialog">
		
		<form class="modal-content edit-achat">
			
			<div class="modal-header">
			
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			
				<h4 class="modal-title custom_align" id="Heading">Modifier achat</h4>

			</div>
			
			<div class="modal-body text-left" data-achatId = {{achat._id}}>
				
				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Prix d'achat</label>

					<input class="form-control" value="{{achat.Ach_prix}}" name="prix" type="text" placeholder="Prix d'achat">
				
				</div>

				<div class="form-group col-md-6 col-sm-6">

					<label class=" control-label">Date d'achat</label>

					<input class="form-control"  value="{{achat.Ach_dateAchat}}" name="dateAchat" type="text" placeholder="date d'achat">
				
				</div>

			</div>
			
			<div class="modal-footer ">
				
				<button type="submit" class="btn btn-warning btn-lg editAchat" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour </button>
			
			</div>
		
		</form>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

</template>
