<template name="clientPage">
	
	<div class="container-fluid">
      	
      	<div class="row toppad">
      	
	    	<div class="col-md-12">
	      
		        <div class="col-md-12"> <!-- Profil -->
		  
		          <div class="panel panel-info">
		            
		            <div class="panel-heading">
		            
		              <h3 class="panel-title">{{client.Cli_prenom}} {{client.Cli_nom}}</h3>
		            
		            </div>
		            
		            <div class="panel-body">
		            
		            	<div class="row">
		            
			                <div class="col-md-3 col-lg-3 " align="center">

			                	<img alt="User Pic" src="/images/logo.png" class="img-circle img-responsive">

			                </div> 
		                
			                <div class=" col-md-9 col-lg-9 "> 
			                  
				                <table class="table table-user-information">
				                  
									<tbody>

										<tr>
											<td>Nom</td>

											<td>{{client.Cli_nom}}</td>
										</tr>

										<tr>
											<td>Prenom</td>

											<td>{{client.Cli_prenom}}</td>
										</tr>

										<tr>
											<td>Age</td>

											<td>{{age}} ({{dateNaissance}})</td>
										</tr>

										<tr>
											<td>Sexe</td>

											<td>{{sexe}}</td>
										</tr>

										<tr>
											<td>Adresse</td>

											<td>{{client.Cli_adresse}}</td>
										</tr>

										<tr>
											<td>Email</td>

											<td><a href="{{Cli_email}}">{{client.Cli_email}}</a></td>
										</tr>

										<tr>
											<td>Telephone</td>

											<td>{{client.Cli_telephone}} </td>
										</tr>

										<tr>
											<td>TeamFit Points</td>

											<td>{{client.Cli_points}} </td>
										</tr>

									</tbody>
				                  
				                </table>
			              
			                </div>
		             
		              </div>
		            
		            </div>
		            
					<div class="panel-footer" data-clientId="{{client._id}}">

						<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>

						<span class="pull-right">

							<button data-toggle="modal"  class="btn btn-sm btn-warning"  data-target="#editClient"><i class="glyphicon glyphicon-edit"></i></button>

							<button data-toggle="modal" class="btn btn-sm btn-danger" data-target="#deleteClient"><i class="glyphicon glyphicon-remove"></i></button>

						</span>

					</div>

		          </div>

		        </div>

		        <div class="col-md-12">
		    
		        <div class="">

		            <div class="panel panel-info panel-table">
		            
			            <div class="panel-heading">
			            
			                <div class="row">
			            
				                <div class="col-xs-6">
				            	
				            		<h4><span class="glyphicon glyphicon-shopping-cart" aria-hidden=true> </span> Historique achats ({{nombreAchats}})</h4>	
				              	
				                </div>

				              	<div class="col-xs-6 text-right">
				        
				                	<button type="button" data-toggle="modal" data-target="#addAchat" class="btn btn-sm btn-success btn-create">Ajouter achat</button>
				        
				              	</div>

			                </div>
			            
			            </div>
			            
			            <div class="panel-body">
			            
			                <table class="table table-striped table-bordered table-list">
			                  
			                	<thead>
			            
				                    <tr>

				                        <th class="hidden-xs">Date achat</th>
				                        
				                        <th>Prix</th>
				            
				                        <th>Rabais</th>

				                        <th><em class="fa fa-cog"></em></th>
				            
				                    </tr> 
			            
			                	</thead>
			            
			                	<tbody>
			            			{{#each achats}}

			            				{{ > oneAchat}}

			            			{{/each}}

			            			<tr>
			            				
			            				<th>Total</th>
			            				
			            				<td> {{totalAchats}}€ </td>
			            			
			            			</tr>
				                  		
			            
			                    </tbody>
			            
			                </table>
			          
			            </div>
			            
			            <div class="panel-footer">
			            
			               <!-- <div class="row">
			            
			                	<div class="col col-xs-4"> Page 1 of 5 </div>
			            
			                	<div class="col col-xs-8">
			            
				                    <ul class="pagination hidden-xs pull-right">
				            
				                      <li><a href="#">1</a></li>
				            
				                      <li><a href="#">2</a></li>
				            
				                      <li><a href="#">3</a></li>
				            
				                      <li><a href="#">4</a></li>
				            
				                      <li><a href="#">5</a></li>
				            
				                    </ul>
			            
				                    <ul class="pagination visible-xs pull-right">
				            
				                        <li><a href="#">«</a></li>
				            
				                        <li><a href="#">»</a></li>
				            
				                    </ul>
			            
			                  	</div>
			            
			                </div> -->
			            
			            </div>
		            
		        	</div>
				</div> <!-- Historique Achat -->

			</div>

		        <div class="col-md-12"> <!-- Code Promo -->

		            <div class="panel panel-info panel-table">
		            
			            <div class="panel-heading">
			            
			                <div class="row">
			            
				                <div class="col-md-6 text-left">
				            		
				            		<h4> <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Codes promo</h4>	
				              	
				                </div>

				                <div class="col-xs-6 text-right">
				        
				                	<button type="button" data-toggle="modal" data-target="#addPromocode" class="btn btn-sm btn-success btn-create">Ajouter code promo</button>
				        
				              	</div>

			                </div>
			            
			            </div>
			            
			            <div class="panel-body">
			            
			                <table class="table table-striped table-bordered table-list">
			                  
			                	<thead>
			            
				                    <tr>

				                        <th class="hidden-xs">Date création</th>
				                        
				                        <th>Montant</th>
				                        
				                        <th>Code</th>
				            
				                        <!--<th><em class="fa fa-cog"></em></th> -->
				            
				                    </tr> 
			            
			                	</thead>
			            
			                	<tbody>
	
            						{{#each promocodes}}

            							{{ > onePromocodeList}}

            						{{/each}}

			                    </tbody>
			            
			                </table>
			          
			            </div>
			            
			            <div class="panel-footer">
			            
			                <!--<div class="row">
			            
			                	<div class="col col-xs-4"> Page 1 of 5 </div>
			            
			                	<div class="col col-xs-8">
			            
				                    <ul class="pagination hidden-xs pull-right">
				            
				                      <li><a href="#">1</a></li>
				            
				                      <li><a href="#">2</a></li>
				            
				                      <li><a href="#">3</a></li>
				            
				                      <li><a href="#">4</a></li>
				            
				                      <li><a href="#">5</a></li>
				            
				                    </ul>
			            
				                    <ul class="pagination visible-xs pull-right">
				            
				                        <li><a href="#">«</a></li>
				            
				                        <li><a href="#">»</a></li>
				            
				                    </ul>
			            
			                  	</div>
			            
			                </div> -->	
			            
			            </div>
		            
		        	</div>

				</div>

	    	</div>

	    	

		</div>

	</div>

	{{> editClientModal}}
	
	{{> deleteClientModal}}
	
	{{> addAchatModal}}

	{{> editAchatModal}}
	
	{{> deleteAchatModal}}

	{{> addPromocodeModal}}

	{{> editPromocodeModal}}
	
	{{> deletePromocodeModal}}

</template>


