<template name="construction">
	
	<div class="row topadd">

		<div class="col-md-12 text-center text-warning">
			
			<i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
		</div>
		<div class="col-md-12 text-center">
			
			<h2>Cette page es en construction actuellemment, mais t'inquiète... Je l'a met en place bientôt ;) !</h2>    
			
		</div>
	</div>

</template>