<template name="flowString">
	
	<span class="containerFlowButton"> <i data-flow="asc" class="fa fa-chevron-up fa-lg"></i> <i data-flow="desc" class="fa fa-chevron-down fa-lg"></i></span>

</template>

<template name="listeClients">

	<section class="">


		<!--<form class="text-center searchClient row">
			
			<div class="col-md-5 col-md-offset-3">
					
				<input type="text" name="query" id="query" class="form-control col-md-10 col-xs-10" placeholder ="Rechercher un client">				
			</div>

			<div class="col-md-1">
				
				<button type="submit" class="form-control rounded"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			
			</div>
		
		</form> -->

		<div class="row">
	
	        <div class="table-responsive sectionListClients">

				<table id="mytable" class="table table-bordred table-striped">

					<thead>

						<!--<th><input type="checkbox" id="checkall" /></th> -->
						
						<th class="filter" data-filter="Cli_nom">Nom</th>
						
						<th class="filter" data-filter="Cli_prenom">Prenom</th>
						
						<th class="filter" data-filter="Cli_dateNaissance">Age</th>
						
						<th class="filter" data-filter="Cli_Sexe">Sexe</th>
						
						<th class="filter" data-filter="Cli_telephone">Telephone</th>
						
						<th class="filter" data-filter="Cli_email">Email</th>
						
						<th class="filter" data-filter="Cli_adresse">Adresse</th>
						
						<th class="filter" data-filter="Cli_ville">Ville</th>
						
						<th class="filter" data-filter="Cli_newsletter">Newsletter</th>
						
						<th class="filter" data-filter="Cli_sms">Sms</th>
						
						<th>Edit</th>
						
						<th>Delete</th>
					
					</thead>
		    		
		    		<tbody>
		    			
		    			{{#if hasClient}}
		    				
		    				{{#each clients}}

						    	{{> oneClient}}

						    {{/each}}

		    			{{else}}
		    				<tr>
		    					<td colspan="13"><h2  class="text-center col-md-12">Aucun client</h2></td>
		    				</tr>
		    			{{/if}}
					    

				    
				    </tbody>
		        
				</table>

				<div class="clearfix"></div>
	                
	        </div>
	            
	    </div>

	</section>

	{{> editClientModal}}

	{{> deleteClientModal}}
	
</template>

