<template name="login">
	
	<div class="container">
	
	    <div class="row">
	
	    	<div class="col-md-6 col-md-offset-3">
	
	    		<div class="panel panel-info">
	
				  	<div class="panel-heading">
	
				    	<h3 class="panel-title">TeamFit Panel Admin</h3>
	
				 	</div>
	
				  	<div class="panel-body">
				    	
				    	<form class="loginForm" accept-charset="UTF-8" role="form">
	
	                    <fieldset>
	
				    	  	<div class="form-group">
	
				    		    <input class="form-control" placeholder="username" name="username" type="text">
	
				    		</div>
	
				    		<div class="form-group">
	
				    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
	
				    		</div>			    		
	
				    		<button class="btn btn-lg btn-info btn-block" type="submit" value="Login">Login</button>
	
				    	</fieldset>
	
				      	</form>
	
				    </div>
	
				</div>
	
			</div>
	
		</div>
	
	</div>

</template>