<template name="oneAchat">

	<tr data-achatId = "{{_id}}" >
			   
		<td class="hidden-xs">{{dateAchat}}</td>

		<td>{{Ach_prix}} €</td>

		<td>{{discount}}<br>{{ discountType }}</td>

		<td align="center">

	      <a class="btn btn-default" data-toggle="modal" data-target="#editAchat"><em class="fa fa-pencil"></em></a>

	      <a class="btn btn-danger " data-toggle="modal" data-target="#deleteAchat"><em class="fa fa-trash"></em></a>

	    </td>

	</tr>

</template>


