	<template name="oneClient">

	<tr class="listeClientsRow" data-clientId="{{_id}}">
				
	    <!--<td><input type="checkbox" class="checkthis" /></td> -->

	    <td class="rowClick">{{Cli_nom}}</td>
	   
	    <td class="rowClick">{{Cli_prenom}}</td>

	    <td class="rowClick">{{age}}</td>
	    
	    <td class="rowClick">{{sexe}}</td>
	    
	    <td class="rowClick">{{Cli_telephone}}</td>
	    
	    <td class="rowClick">{{Cli_email}}</td>
	    
	    <td class="rowClick">{{Cli_adresse}}</td>
	    
	    <td class="rowClick">{{Cli_ville}}</td>
	    
	    <td class="rowClick"><span class="glyphicon {{newsletter}}" aria-hidden="true"></span></td>
	    
	    <td class="rowClick"><span class="glyphicon {{sms}}" aria-hidden="true"></span></td>

	    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#editClient" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>

	    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#deleteClient" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
	
	</tr>  
	
</template>
