<template name="onePromocodeUsed">

	<div class="col-lg-3 col-sm-6">

        <div class="card hovercard">
           
            <div class="cardheader">

            </div>
            
            <div class="avatar">
            
                <img alt="" src="images/logo.png">
            
            </div>
            
            <div class="info">
            
                <div class="title">
            
                    {{ Pro_code }}
            
                </div>
            
                <div class="desc">{{ Pro_description }}</div>
            
                <div class="desc"><a href="{{pathFor 'clientPage' _id=Pro_client._id}}">{{Pro_client.Cli_prenom}} {{Pro_client.Cli_nom}}</a></div>
            
                <div class="desc">{{Pro_value}}{{discountType}}</div>
            
            </div>

            <div class="bottom" data-promocodeId="{{_id}}">
            
                <a class="btn btn-warning btn-twitter btn-sm promocodeEditer" data-toggle="modal" data-target="#editPromocode">
            
                    <i class="fa fa-pencil"></i>
            
                </a>
            
                <a class="btn btn-danger btn-sm promocodeDeleter" data-toggle="modal" data-target="#deletePromocode" rel="publisher">
            
                    <i class="fa fa-times"></i>
                </a>

            
            </div>
            

       
        </div>

    </div>

</template>


