<template name="onePromocodeList">

    {{#if Pro_used}}
      
      <tr class="warning" data-promocodeId = "{{_id}}" >
                 
          <td class="hidden-xs">{{dateCode}}</td>

          <td>{{Pro_value}} {{discountType}}</td>
          
          <td>{{Pro_code}}</td>

          <td align="center">

            <td>Utilisé</td>

          </td>

      </tr>

    {{else}}
      
      <tr data-promocodeId = "{{_id}}" >
                 
          <td class="hidden-xs">{{dateCode}}</td>

          <td>{{Pro_value}} {{discountType}}</td>
          
          <td>{{Pro_code}}</td>

          <td align="center">

            <a class="btn btn-default" data-toggle="modal" data-target="#editPromocode"><em class="fa fa-pencil"></em></a>

            <a class="btn btn-danger" data-toggle="modal" data-target="#deletePromocode"><em class="fa fa-trash"></em></a>
            
            <a class="btn btn-primary usePromocode" title="Utiliser"><em class="fa fa-hand-scissors-o"></em></a>

          </td>

      </tr>

    {{/if}}
      

</template>