<template name="promocodes">

	{{#if noPromocodes }}
		
		<h2 class="text-center text-info">Il n' y aucun promocode</h2>
		
	{{/if}}
	
	<div class="row">
		
		<h3>Code promo actif</h3>
		
		{{#each promocodesNoUsed}}

			{{> onePromocode}}

		{{/each}}
	</div>

	<div class="row">
		
		<h3>Code promo utilsé</h3>
		
		{{#each promocodesUsed}}

			{{> onePromocodeUsed}}

		{{/each}}
	</div>

	{{ > deletePromocodeModal}}
	
	{{ > editPromocodeModal}}

</template>