<template name="stats">
	
	<div class="col-md-6 text-left">
        
        <div class="one-stat">

                <i class="fa fa-user fa-4x"> </i>

                <span class="title">Inscrits</span>

                <span class='stat-number'>{{allInscrits}}</span>

        </div>

        <div class="one-stat">

            <i class="fa fa-male fa-4x"> </i>

            <span class="title">Homme</span>

            <span class='stat-number'>{{pourcentageHomme}}%</span>

        </div>

        <div class="one-stat">

            <i class="fa fa-female fa-4x"> </i>

            <span class="title" >Femme</span>

            <span class='stat-number'>{{pourcentageFemme}}%</span>

        </div>

        <div class="one-stat">

            <i class="fa    fa-child fa-4x"> </i>

            <span class="title">18 - 25</span>

            <span class='stat-number'>{{pourcentage18_25}}%</span>

        </div>

        <div class="one-stat">

            <i class="fa fa-user fa-4x"> </i>

            <span class="title">26 - 35</span>

            <span class='stat-number'>{{pourcentage26_35}}%</span>

        </div>

        <div class="one-stat">

            <i class="fa fa-user fa-4x"> </i>

            <span class="title">35 +</span>

            <span class='stat-number'>{{pourcentageUp_35}}%</span>

        </div>

        <div class="one-stat">

            <i class="fa fa-money fa-4x"> </i>

            <span class="title">Ventes</span>

            <span class='stat-number'>{{ventesTotal.total}}€</span>

        </div>

    </div>

	<div class="col-md-6">
		
		<div class="col-md-12">
         
            <div class="panel panel-info">
         
                <div class="panel-heading">
         
                    <h3 class="panel-title"> 10 plus gros achats</h3>
         
                </div>
         
                <ul class="list-group">
         
                   {{#each achats}}

                   		<a href="{{pathFor 'clientPage' _id=client._id}}" class="list-group-item"><strong>{{achat.Ach_prix}}€</strong> - {{client.Cli_prenom}} {{client.Cli_nom}}</a>
                   
                   {{/each}}
         
                </ul>
         
            </div>
        
        </div>

        <div class="col-md-12">
         
            <div class="panel panel-info">
         
                <div class="panel-heading">
         
                    <h3 class="panel-title"> 10 derniers clients </h3>
         
                </div>
         
                <ul class="list-group">
         			
         			{{#each inscrits}}
                    	
                    	<a href="{{pathFor 'clientPage'}}" class="list-group-item">{{Cli_prenom}} {{Cli_nom}}</a>

         			{{/each}}
         
                </ul>
         
            </div>
        
        </div>
	
	</div>

</template>