<template name="welcome">
	
	<section class="home-page">

			<div class="one-stat">

				<i class="fa fa-user fa-5x"> </i>

				<span class="title">Inscrits</span>

				<span class='stat-number'>{{inscrits}} Personnes</span>

			</div>

			<div class="one-stat">

				<i class="fa fa-male fa-5x"> </i>

				<span class="title">Homme</span>

				<span class='stat-number'>{{pourcentageHomme}}%</span>

			</div>

			<div class="one-stat">

				<i class="fa fa-female fa-5x"> </i>

				<span class="title" >Femme</span>

				<span class='stat-number'>{{pourcentageFemme}}%</span>

			</div>

			<div class="one-stat">

				<i class="fa 	fa-child fa-5x"> </i>

				<span class="title">18 - 25</span>

				<span class='stat-number'>{{pourcentage18_25}}%</span>

			</div>

			<div class="one-stat">

				<i class="fa fa-user fa-5x"> </i>

				<span class="title">26 - 35</span>

				<span class='stat-number'>{{pourcentage26_35}}%</span>

			</div>

			<div class="one-stat">

				<i class="fa fa-user fa-5x"> </i>

				<span class="title">35 +</span>

				<span class='stat-number'>{{pourcentageUp_35}}%</span>

			</div>
	
	</section>

</template>