<head>

	<title>TeamFit Panel Admin</title>

</head>

<template name="layout">
		
		<div class="text-left">

		 <div class="mail-box">

		      {{> nav}}

		      <aside class="lg-side">
		       
		         {{#if currentUser}}
		       
		          <div class="inbox-head">
		         
		           		<h3>{{title}}</h3>
		         		
		         		{{#if searchBar}}

		         			<form class="pull-right position searchClient">
			         
			                  <div class="input-append">
			         
			                      <input type="text" name="query" id="query" class="sr-input" placeholder="Rechercher client">
			         
			                      <button class="btn sr-btn" type="submit"><i class="fa fa-search"></i></button>
			         
			                  </div>
			         
			              </form>

		         		{{/if}}
			              
		         
		          </div>
		          
		          {{/if}}
		         
		          <div class="inbox-body">
		         
		             {{> yield}}

		          </div>


		      </aside>

		 </div>

		</div>

		{{ > addClientModal}}
		
</template>