<template name="footer">

	<nav class="navbar navbar-default">
	
	  <div class="container-fluid">
	
	    <div class="navbar-header">
	
	      <a class="navbar-brand" href="#">
	
	        <img alt="Brand" src="">
	
	      </a>
	
	    </div>

	    <li><a href="#">Hey</a></li>
	    
	    <li><a href="#">Hey</a></li>
	    
	    <li><a href="#">Hey</a></li>
	
	  </div>
	
	</nav>
	
</template>