<template name="headers">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ pathFor 'home' }}">Team Fit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        
        	<li><a href="{{ pathFor 'listeClients' }}">Liste Client</a></li>
	        

	        <li><a href="{{ pathFor 'stats' }}">Stats</a></li>
      </ul>

      <form class="navbar-form navbar-left">
       
        <div class="form-group">
       
          <input type="text" class="form-control" placeholder="Rechercher">
       
        </div>
       
        <button type="submit" class="btn btn-default">Rechercher</button>
      
      </form>
      
      <ul class="nav navbar-nav navbar-right">
		
		<li><a href="#" data-toggle="modal" data-target="#addClient">Ajouter Client</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
</template>
<template name="header">
  
</template>