<template name="loading">
	
	<style type="text/css">

		@keyframes load {
    		0% { opacity: 1 }
    		50% { opacity: 0 }
    		100% { opacity: 1 }
}
		.logoTeamfit{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 250px;
			height: auto;
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			-webkit-animation: load 1s linear infinite;
			-ms-animation: load 1s linear infinite;
			-o-animation: load 1s linear infinite;
			animation: load 1s linear infinite;
			
		}
	</style>
	<img src="/images/logo.png" class="logoTeamfit">

</template>