<template name="nav">

  {{#if currentUser}}
    
    <aside class="sm-side">

      <div class="user-head">
        
        <a class="inbox-avatar" href="{{pathFor 'home'}}"> <img  width="64" hieght="60" src="images/logo.png"></a>
        
        <div class="user-name">
        
          <h5>TeamFit Panel Admin</h5>
        
          <span><a href="#">{{prenom}} {{nom}}</a></span>
        
        </div>

      </div>
      
      <div class="inbox-body">
        
        <a href="#" data-target="#addClient" data-toggle="modal"  title="Ajouter client" class="btn btn-compose">  Ajouter client</a>
        
      </div>

      <ul class="inbox-nav inbox-divider">

        <li class="active"> <a href="{{ pathFor 'listeClients'}}"><i class="fa fa-list-alt"></i> Liste Clients <span class="label label-info pull-right">{{ nombreClients }}</span></a></li>

        <li> <a href="{{ pathFor 'stats' }}"><i class="fa fa-bar-chart"></i>Statistique</a> </li>
        
        <li> <a href="{{pathFor 'promocodes'}}"><i class="fa fa-qrcode"></i> Codes Promo{{#if promocodesLeft}}  <span class="label label-info pull-right">{{ promocodesLeft }}</span>{{/if}}</a> </li>

      </ul>

      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">

        <li> <h4>Derniers Clients</h4> </li>
        
        {{#each inscrits}}

          <li> <a href="{{pathFor 'clientPage'}}"> <i class=" fa fa-sign-blank text-danger"></i> {{Cli_prenom}} {{Cli_nom}} </a> </li>

        {{/each}}

      </ul>

      <ul class="nav nav-pills nav-stacked labels-info ">

        <li> <h4>Derniers achats</h4> </li>
        
        {{#each achats}}
          
          <li><a href="{{pathFor 'clientPage' _id=this.client._id}}">{{achat.Ach_prix}}€ - {{client.Cli_prenom}} {{client.Cli_nom}} </a></li>

        {{/each}}
      
      </ul>

      <div class="inbox-body">
        
        <div class="btn-group">
          
          <button title="Se déconnecter" class="btn mini btn-warning disconnectButton" href="">
            
            Déconnexion
            
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          
          </button>
        
        </div>

        {{#if false}}
        
          <div class="btn-group">
          
            <a href="{{pathFor 'construction'}}" class="btn mini btn-info">
            
              <i class="fa fa-cog" aria-hidden="true"></i>
            
            </a>
          
          </div>
        
        {{/if}}
      
      </div>

    </aside>
  
  {{/if}}

</template> 